* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

h1 {
  margin: 1rem 0;
}

section {
  border-bottom: 1px solid #000;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  min-height: 300px;
}

.row {
  width: 100%;
  min-width: 10px;
  padding: 1rem 0;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* auf der X-Achse wird der restliche Platz verteilt*/
  align-items: stretch; /* auf der Y-Achse wird der restliche Platz verteilt*/
}

.col {
  min-width: 20px;
  min-height: 200px;
  margin: 10px;
}

.trolley-grey {
  background: #7d7c84;
  flex-grow: 0;
  order: 1;
}

.sea-green {
  background: #2d93ad;
  flex-grow: 1;
}

.middle-red {
  background: #de8f6e;
  flex-grow: 0;
  order: 2;
}

.black {
  background: #000;
  flex-grow: 0;
}

.orange {
  background: orange;
  flex-grow: 1;
}

.olive {
  background: olive;
  flex-grow: 1;
}

.spalte-2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
