* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

h1 {
	margin: 1rem 0;
}

section {
	border-bottom: 1px solid #000;
}

.wrapper {
	max-width: 600px;
	min-height: 300px;
}

.row {
	width: 100%;
	min-width: 10px;
	padding: 1rem 0;
	min-height: 300px;
}


.col {
	min-width: 20px;
	min-height: 70px;
	margin: 10px;
}

.trolley-grey {
	background: #7D7C84;
}

.sea-green {
	background: #2D93AD;
}

.middle-red {
	background: #DE8F6E;

}

.black {
	background: #000;
}

.orange {
	background: orange;

}

.olive {
	background: olive;
}