*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

h1{
	margin: 1rem 0;
}

section{

	border-bottom: 1px solid #000;
}

.wrapper{
	max-width: 600px;
	margin: 0 auto;
	min-height: 300px;
}

.row{
	width:  100%;
	padding: 1rem 0;
	min-height: 300px;
	display: block;


}


.col{
	width: 100%;
	min-height: 50px;


	margin: 10px;


}

.trolley-grey{
	background: #7D7C84;
}

.sea-green{
	background: #2D93AD;

}

.middle-red{
	background: #DE8F6E;

}

.black{
	background: #000;
}

.orange{
	background: orange;
}

.olive{
	background: olive;
}

/* für tablets */
@media (min-width: 768px) and (max-width: 1023px){
	.row{
		display: flex;
		flex-wrap: wrap;
	}

	.col{
		flex: 1 1 calc(50% - 20px);
	}
}

/* für desktop */
@media (min-width: 1024px) {
	.row{
		display: flex;
		flex-wrap: wrap;
	}

	.col{
		flex: 1 1 calc(33.33333% - 20px);
	}
}
